<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Sign-Up/Login Form</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" type="text/css" href="/freelancer.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  
</head>

<body>
  <div class="form">
      
      <div class="tab-content">
        <div id="signup">   
       <h1 align="center">Registration Page</h1>
          
          <form action="/adduser" method="POST" align="center">
          
          <div class="top-row">
            <div class="field-wrap">
              <label>
                First Name<span class="req">*</span>
              </label> <br>
              <input type="text" name="name" required autocomplete="off" />
            </div>
        
      
          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <br>
            <input type="email" name ="email" required autocomplete="off"/>
          </div>
                <div class="field-wrap">
              <label>
                Username<span class="req">*</span>
              </label>
              <br>
              <input type="text" name="username" required autocomplete="off"/>
            </div>
          </div>

          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label><br>
            <input type="password" name="regpassword" required autocomplete="off"/>
          </div>
          <br>
          <br>

          <button type="submit" value="Submit" class="btn btn-success"/>Get Started</button>
          
          </form>

        </div>
        
       
      
</div> <!-- /form -->
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>