<!DOCTYPE html>
<html>


<head>
	<title>
		
	</title>
</head>
<body>
<form method="post" enctype="multipart/form-data" action="/createPort">
<input type="text" name="image">

<input type="submit" name="upload">
	</form>
</body>
</html>